<h2>{{ naslov }}</h2>
<h4>Avtomobili, ki so na voljo</h4>

<ul class="list-group">
    {{#each avtomobili}}
    <li class="list-group-item">{{this.znamka}}, 
        {{this.model}}, {{this.letnik}}, {{this.cena}}€</li>
    {{/each}}
</ul>
<a name="nov" id="nov" class="btn btn-primary" href="/nov" role="button">Dodaj avto</a>