<h2>{{ naslov }}</h2>
<form action="/api/avtomobili" method="post">
    <div class="form-group">
        <label for="znamka">Znamka</label>
        <input type="text" class="form-control" name="znamka" id="znamka" placeholder="Znamka avtomobila">
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" name="model" id="model" placeholder="Model avtomobila">
    </div>
    <div class="form-group">
        <label for="letnik">Letnik</label>
        <input type="text" class="form-control" name="letnik" id="letnik" placeholder="Letnik avtomobila">
    </div>
    <div class="form-group">
        <label for="cena">Cena</label>
        <input type="text" class="form-control" name="cena" id="cena" placeholder="Cena avtomobila">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>